.list {
	display: flex;
	column-gap: 1em;
	margin-block-end: 2rem;
	mix-blend-mode: difference;

	color: #fff;
	position: fixed;
	z-index: 2;
}

.is_active {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: -0.15em;
		left: 0;

		height: 1px;
		width: 100%;

		background-color: #fff;
	}
}
