/* ================================================== */
/* */
/* BASE */

body {
	min-height: 100dvh;
	overflow-x: hidden;
	padding: 1rem;
}

.section {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	row-gap: 5rem;

	padding-block-start: 5rem;
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: 5rem;
}

.img {
	margin-inline-start: auto;
	width: 75%;
	height: 100%;
}

.bg_constant {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200dvw;
	height: 200dvh;
	z-index: -2;
	background-color: hsl(20, 20%, 85%);
}

.bg_new_page {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200dvw;
	height: 200dvh;
	z-index: -1;
	background-color: hsl(0, 0%, 100%);
}

/* ================================================== */
/* */
/* APPEARANCE */
::selection {
}

/* ================================================== */
/* */
/* View Transitions */

::view-transition-group(root) {
	z-index: auto !important;
	isolation: isolate;
}

::view-transition-old(root) {
	animation: none !important;
	z-index: 1;
	isolation: isolate;
}

::view-transition-new(root) {
	z-index: 10000;
	will-change: clip-path;
	animation: reveal 1.75s cubic-bezier(0.8, 0, 0.2, 1) forwards;
}

@keyframes reveal {
	0% {
		clip-path: polygon(10% 85%, 90% 85%, 90% 85%, 10% 85%);
	}
	50% {
		clip-path: polygon(5% 10%, 95% 10%, 95% 90%, 5% 90%);
	}
	100% {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
}
